<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but h doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
		<p>Some static content on page A from backend</p>
		This is example of custom component usage (we import common needed components in main.js of each page)
		<c-button>Custom component button</c-button>
		<hr>
		<p>This is page-app component:</p>
		<page-a></page-a>
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
